.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  margin: 20px; /* Margen alrededor del contenedor */
}

.input-container {
  margin-bottom: 20px; /* Espacio entre el formulario y la tabla */
}

table {
  width: 80%; /* Ancho de la tabla */
  border-collapse: collapse; /* Colapsa bordes de la tabla */
  margin-top: 20px; /* Espacio superior de la tabla */
}

th, td {
  border: 1px solid #ddd; /* Borde de las celdas */
  padding: 8px; /* Espaciado interno de las celdas */
  text-align: center; /* Centra el texto en las celdas */
}

th {
  background-color: #f2f2f2; /* Color de fondo de los encabezados */
  font-weight: bold; /* Negrita para los encabezados */
}

tr:hover {
  background-color: #f5f5f5; /* Color de fondo al pasar el mouse sobre una fila */
}

.completada {
  text-decoration: line-through; /* Tacha las tareas completadas */
  color: green; /* Color para las tareas completadas */
}

.no-completada {
  color: black; /* Color normal para las tareas no completadas */
}

.proxima {
  color: orange; /* Resaltar las tareas próximas */
  font-weight: bold; /* Resaltar ls tareas próximas */
}

button {
  margin-left: 5px; /* Espacio entre los botones */
  cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
}

button:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

.mensaje-vencer {
  color: red; /* Color rojo para resaltar el mensaje */
  font-weight: bold; /* Negrita para mayor visibilidad */
  margin-left: 10px; /* Espacio a la izquierda del mensaje */
}

